name: Run Tests

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    # I updated this line to look inside your 'SensorDashboard' folder
    - name: Restore dependencies
      run: dotnet restore SensorDashboard/SensorDashboard.sln

    - name: Build
      run: dotnet build SensorDashboard/SensorDashboard.sln --no-restore

    - name: Test
      run: dotnet test SensorDashboard/SensorDashboard.sln --no-build --verbosity normal